<?xml version="1.0" ?>
<model>
    <name>Traffic sign</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Martin Cerven</name>
        <email>cerven.martin@me.com</email>
    </author>
    <description>Traffic sign for Roadside competition</description>
</model>
