<?xml version="1.0" ?>
<model>
    <name>Red Truck</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Martin Cerven</name>
        <email>cerven.martin@me.com</email>
    </author>
    <description>Red movable truck for Roadside competition. It should be pushed to the red half circle. </description>
</model>
